body {
    background-color: rgb(255, 255, 255);
}

body p, h1, h2, h3, h4 {
    color: rgb(0, 0, 0);
    font-family: "articulat-cf", sans-serif;
}

h1 {
    font-size: 3em;
    font-family: "articulat-heavy-cf", sans-serif;
}

#title {
    text-align: center;
}

#projects {
    display: flex;
    flex-direction: column;
    margin: 10vh 10vw;
    border: 2vw #6e88a1;
    border-style: none none none solid;
}

#projects a {
    text-decoration: none;
    color: black;
}

.project:hover {
    background-color:#6e88a1;
}

.project {
    display: flex;
    flex-direction: row;
    padding: 30px;
    text-wrap: wrap;
}

.project img {
    width: 30vw;
    margin: 20px;
}

#buttons {
    display:flex;
    justify-content: center;
}

#buttons button {
    margin: 10px;
    background-color:#6e88a1;
    color: white;
    font-family: "articulat-cf", sans-serif;
}

.thumb-bar {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    cursor: pointer;
  }

  .thumb-bar img {
    width: 5vw;
    margin: 5px;
  }

  .thumb-bar:hover {
    background-color:#6e88a1;
  }

  .displayed-img {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50vw;
    padding:5px;
    margin-bottom: 20px;
  }

  #slideshow h1 {
    text-align: center;
  }

  #projbody {
    margin-left: 20vw;
    margin-right: 20vw;
  }

  #abstract {
    margin-bottom: 5vh;
    padding-left: 20px;
    border: 2vw #6e88a1;
    border-style: none none none solid;
  }